<div class="header-container" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">

    <div class="site-name">Book</div>
<!--    <label th:text=" 'Hello' + ${#request.userPrincipal.name}"></label>-->

    <div class="header-bar">
        <th:block>
            <div>

                <a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
                <label th:if ="${#request.userPrincipal != null}" sec:authentication="name"></label>
                <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>

            </div>

        </th:block>
    </div>
</div>